@import "../../../css/scss/common/common";

$footerHeight: 60px;
@media only screen and (max-device-width: $mobileWidth) {
  .footer-content {

  }

  .footer-content div {
    width: 100%;
  }
  .terms-button {
    text-align: center;
  }
}

@media only screen and (min-device-width: $mobileWidth) {
  .footer-content {
    display: flex;
  }

  .footer-content div {
    flex: 1;
  }
  .terms-button {
    text-align: right;
  }
}

.footer-container {
  background: #353535;
  margin-top: 50px;
}

.social-button {
  text-align: center;
  height: $footerHeight;
  line-height: $footerHeight;
}

.social-button a {
  margin: 0 10px 0 10px;
}

.social-button img {
  width: 20px;
  vertical-align: middle;
}

.terms-button a {
  margin-left: 10px;
  margin-right: 10px;
  height: $footerHeight;
  line-height: $footerHeight;
  color: #fff;
}

.terms-button a:hover {
  text-decoration: underline;
}