.ticker-table {

}

.ticker-table table {
  width: 100%;
  border-collapse: collapse;
  font-size: 13.5px;
}

.ticker-table tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.ticker-table tr th {
  border-top: 1px solid rgb(236, 236, 241);
  border-bottom: 1px solid rgb(236, 236, 241);
  padding: 7px 0;
  text-align: left;
  background: rgb(236, 236, 241);
  color: #333;

}

.ticker-table tr th:first-child {
  padding-left: 5px;
}

.ticker-table tr th:last-child {
  text-align: center;
}

.ticker-table tr td {
  border-top: 1px solid rgb(236, 236, 241);
  border-bottom: 1px solid rgb(236, 236, 241);
  padding: 15px 0 15px 0;
  text-align: left;
  color: #333;
  font-size: 13px;
}

.ticker-table tr td i{
  cursor: pointer;
  font-size: 14px;
}
.ticker-table tr td:first-child {
  padding-left: 10px;
}

.ticker-table tr td:last-child {
  text-align: center;
}